@charset "ISO-8859-1";
.allforms{
	display:flex;
	justify-content: space-between;
}
.form{
	border:1px solid black;
	width:15%;
	text-align: center;
	height:200px;
	margin:2%;
}
.activities{
	margin-left:2%;
}
.title{
	margin-top:2%;
}